@font-face {
  font-family: 'Adobe Clean';
  font-weight: normal;
  src: url('../../assets/fonts/AdobeClean-Regular.ttf');
}

@font-face {
  font-family: 'Adobe Clean';
  font-weight: bold;
  src: url('../../assets/fonts/AdobeClean-Bold.ttf');
}
